classes
/brailleblaster/dist
*.dll
*.dylib
nbproject/*
Resources/*
bin/*
.project
.classpath
.settings
target
nb-configuration.xml
nbactions.xml
*.iml
.idea/*
out/
test-output/**
node_exception_*.xml
*.log
/bin/
