classes
/brailleblaster/dist/lib/windows-x86_64/*
/brailleblaster/dist/**/*.jar
*.dll
*.dylib
dist/native/**/*.so
dist/html/**
nbproject/*
Resources/*
bin/*
.project
.classpath
.settings
target
dist/programData/liblouis/tables/*
/brailleblaster/dist/programData/org/mwhapples/jlouis/*
/brailleblaster/dist/programData/MathCAT/*
nb-configuration.xml
nbactions.xml
dist/brailleblaster-windows.exe
*.iml
.idea/*
out/
test-output/**
dist/aee/**
node_exception_*.xml
*.log
/bin/
/brailleblaster/dist/brailleblaster.jar
